body {
  padding: 0;
  margin: 0;
  margin-top: 9px;
  font-family: "Raleway", sans-serif;
}

/*header*/

header {
  max-width: 1450px;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#logo {
  margin-top: 25px;
}

#logo_reservia {
  height: 35px;
}

.menu {
  display: flex;
  list-style: none;
  color: #0065fc;
  width: 25%;
  justify-content: space-between;
}

nav ul li:hover {
  border-top: solid 3px blue;
  padding-top: 25px;
  margin-top: -25px;
}

nav ul li {
  border-top: solid 3px transparent;
}

nav img {
  height: 35px;
}

/*Section 1*/

main {
  max-width: 1450px;
  margin: auto;
}

h1 {
  height: 11px;
  font-size: 17px;
}

p {
  font-size: 13px;
}

.icone_localisation {
  border-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
  width: 17px;
  background-color: #f2f2f2;
}

.research {
  display: flex;
}

.rechercher {
  border: 0;
  font-size: 14px;
  color: #fff;
  width: 42%;
  height: 39px;
  background-color: #0065fc;
  overflow: hidden;
}

.navigation {
  border: 1px solid;
  border-color: #e7e7e7;
  border-radius: 8px;
  height: 34px;
  width: 340px;
  overflow: hidden;
  margin-top: -1px;
}

#marecherche {
  width: 161px;
  border: 0px;
}

.filtre {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: row;
  width: 100%;
  font-weight: bolder;
  text-decoration-color: black;
}

#les_filtres {
  height: 39px;
  width: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#economique,
#familial,
#romantique,
#animaux_autorises {
  border: 2px solid;
  border-color: #e7e7e7;
  border-radius: 50px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
  background-color: #ffffff;
  font-weight: bolder;
  text-decoration-color: black;
}

#economique {
  width: 49%;
}

#familial {
  width: 35%;
}

.economique_familial {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#romantique {
  width: 9%;
}

#animaux_autorises {
  width: 13%;
}

.icone_filtre {
  border: solid 6px;
  border-radius: 44%;
  border-color: #deebff;
  padding: 5px;
  background-color: #deebff;
  color: #3787fd;
}

.icone_info {
  border: solid 1px;
  border-radius: 51%;
  border-color: #e7e7e7;
  padding: 4px;
  background-color: #ffffff;
  color: #3787fd;
  padding-right: 6px;
  padding-left: 6px;
}

/*Section 2*/

h2 {
  margin-left: 42px;
  margin-top: 35px;
}
.prix {
  margin-top: -28px;
  margin-bottom: -16px;
}

.prix_p {
  margin-top: -27px;
  margin-bottom: -16px;
}

.hebergements_groupe {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#marseille {
  width: 100%;
}

.hebergement_bg {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 30px;
}

#hosts {
  width: 70%;
}

.liste_hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.hebergement {
  width: 25%;
  max-height: 228px;
  border: solid 4px;
  border-color: white;
  border-bottom-color: #f0eded;
  border-radius: 16px;
  background: white;
  margin: 0px 0px 60px 0px;
  overflow: hidden;
}

.image_hebergement {
  max-width: 300px;
  max-height: 300px;
}

.image_hebergement img {
  height: 150px;
  width: 105%;
  object-fit: cover;
}

.texte_hebergement {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  margin-top: -15px;
}

.icone_etoile_bleu {
  color: blue;
}

.icone_etoile_gris {
  color: rgb(207, 203, 203);
}

.afficher_plus {
  font-size: 21px;
  margin-left: 45px;
  margin-top: -20px;
  font-weight: bold;
}

#hebergement_populaire {
  width: 28%;
}

.icone_chart_line_up {
  position: absolute;
  margin-left: 340px;
  margin-top: -46px;
  font-size: 24px;
}

.liste_hebergements_populaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 392px;
  margin-top: 40px;
}

.hebergement_p {
  display: flex;
  align-items: stretch;
  max-height: 142px;
  border: solid 4px;
  border-color: white;
  background: white;
  border-radius: 12px;
  margin: 0px 0px 60px 0px;
  max-width: 305px;
  overflow: hidden;
}

.image_hebergement_populaire img {
  height: 142px;
  width: 135px;
  object-fit: cover;
}

/*Section 3*/

.activites_groupe {
  height: 560px;
  width: 1445px;
}

h4 {
  font-size: 22px;
  margin-left: 45px;
}

.liste_activites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.activites {
  display: flex;
  flex-direction: column;
  border-bottom: solid 3px;
  border-color: #e3e0e0;
  border-radius: 16px;
  background: white;
  overflow: hidden;
}

.texte_activites {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-left: 12px;
}

.vieux_port {
  max-height: 500px;
  max-width: 290px;
}

.vieux_port img {
  height: 410px;
  width: 100%;
  object-fit: cover;
}

.Fort_de_Pomegues {
  max-height: 500px;
  max-width: 290px;
}

.Fort_de_Pomegues img {
  height: 195px;
  width: 100%;
  object-fit: cover;
}

.iles_du_Frioul {
  max-height: 500px;
  max-width: 290px;
}

.iles_du_Frioul img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.groupe_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.groupe_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Parc_National_des_Calanques {
  max-height: 500px;
  max-width: 290px;
}

.Parc_National_des_Calanques img {
  height: 410px;
  width: 100%;
  object-fit: cover;
}

.Notre_Dame_de_la_Garde {
  max-height: 500px;
  max-width: 290px;
}

.Notre_Dame_de_la_Garde img {
  height: 125px;
  width: 100%;
  object-fit: cover;
}

.Parc_Longchamps {
  max-height: 500px;
  max-width: 290px;
}

.Parc_Longchamps img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

/*Footer*/

footer {
  background-color: #f2f2f2;
  height: 178px;
}

#footer-content {
  max-width: 1450px;
  display: flex;
  margin: auto;
}

.taille {
  width: 465px;
}

.taille li {
  list-style: none;
  margin-left: -40px;
  margin-top: 10px;
}

/*Media queries*/

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
  }

  nav ul li:hover {
    border-top: none;
  }

  nav ul li {
    border-top: none;
  }

  nav img {
    height: 35px;
  }

  #logo_reservia {
    width: 20%;
    margin-left: 20px;
  }

  .media_inscrire {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 392px;
  }

  .media_hebergement_activite {
    color: #0065fc;
    border-bottom: 2px #0065fc solid;
    width: 100%;
    padding-bottom: 25px;
    max-width: 392px;
  }

  h1 {
    height: auto;
    margin-left: 20px;
    max-width: 392px;
    width: 73%;
  }

  .navigation {
    margin-left: 20px;
    max-width: 392px;
    width: 85%;
    height: 38px;
  }

  .p_section {
    margin-left: 20px;
    margin-bottom: 30px;
    max-width: 392px;
  }

  #marecherche {
    width: 73%;
  }

  .rechercher {
    width: 15%;
    border-radius: 15px;
    border-radius: 14px;
    overflow: hidden;
  }

  /* FILTRES */

  .filtre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 230px;
    margin-left: 20px;
    margin-top: 0;
    align-content: flex-start;
    justify-content: space-evenly;
  }

  #les_filtres {
    display: flex;
    height: auto;
    width: auto;
    max-width: 392px;
  }

  #economique {
    width: 40%;
    height: 34px;
    max-width: 392px;
    margin-right: 15px;
  }

  #familial {
    width: 30%;
    height: 34px;
    max-width: 392px;
  }

  .economique_familial {
    display: flex;
    width: 94%;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 392px;
    justify-content: flex-start;
  }

  #romantique {
    width: 36%;
    height: 34px;
    max-width: 392px;
  }

  #animaux_autorises {
    width: 49%;
    height: 34px;
    max-width: 392px;
  }

  .info {
    margin-left: 30px;
    max-width: 392px;
    width: 75%;
    margin-top: -15px;
  }

  /* HEBERGEMENTS */
  .hebergements_groupe {
    flex-direction: column-reverse;
    height: auto;
  }

  #hebergement_populaire {
    width: 100%; /* bg gris des + populaires prend tte largeur */
  }

  .icone_chart_line_up {
    position: absolute;
    margin-left: 325px;
    margin-top: -46px;
    font-size: 24px;
  }

  .liste_hebergements {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 392px;
    margin-top: 35px; /* les vignettes prennent la largeur  */
  }

  .hebergement {
    height: 228px;
    width: 85%;
  }

  h2 {
    margin-left: 20px;
    margin-top: 30px;
  }

  #hosts {
    width: 100%;
    background: white; /* fond gris de hebergement marseille */
  }

  .liste_hebergements_populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 392px;
    margin-top: 40px;
  }

  .activites_groupe {
    height: auto;
    width: 85%;
    flex-direction: column;
  }

  .liste_activites {
    display: flex;
    flex-direction: column;
    max-width: 392px;
    width: 100%;
    margin: 30px 20px 0px 30px;
  }

  .activites {
    max-width: 392px;
  }

  .afficher_plus {
    margin-left: 35px;
  }

  h4 {
    font-size: 22px;
    margin-left: 35px;
    margin-top: 45px;
  }

  .vieux_port,
  .Fort_de_Pomegues,
  .Parc_National_des_Calanques,
  .iles_du_Frioul,
  .Parc_Longchamps,
  .Notre_Dame_de_la_Garde {
    height: 165px;
    width: 100%;
  }

  .vieux_port img,
  .Fort_de_Pomegues img,
  .iles_du_Frioul img,
  .Parc_Longchamps img,
  .Notre_Dame_de_la_Garde img,
  .Parc_National_des_Calanques img {
    height: 160px;
    width: 110%;
    object-fit: cover;
  }

  .groupe_1,
  .groupe_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 25px;
  }

  h3 {
    display: flex;
  }

  #footer-content {
    max-width: 1450px;
    flex-direction: column;
    margin: 25px 0px 25px 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1400px) {
  .filtre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 230px;
    margin-left: 20px;
    margin-top: 0;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 202%;
  }
}
